* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: white;
  --bg-url: url(assets/background_mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255 , 255, 255, 0.3);
  --surface-color-hover: rgba(255, 255, 255, 0.03);
  --hightlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(assets/lua.svg);
}

.light{
  --text-color: black;
  --bg-url: url(assets/background-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0 , 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.3);
  --hightlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(assets/sol.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
  
}

/* profile */

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

/* switch */

#switch{
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;;
  border: 0;
  border-radius:50% ;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  transform:  translateY(-50%);
  animation: slide-out 0.3s;
  
}

#switch button:hover{
  outline: 8px solid var(--hightlight-color);
}

.light #switch button{
  animation: slide-in 0.5s forwards;
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px; 
}

/* links */

ul{
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-weight: 500;

  transition:background 0.4s;
}

ul li a:hover{
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#sociais{
  display: flex;
  justify-content: center;

  padding: 24px 0;
  font-size: 24px;
}

#sociais a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.4;
  border-radius: 50%;
}

#sociais a:hover{
  background: var(--hightlight-color);
}

footer{
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}


/* media queries */

@media (min-width: 700px){
  :root{
    --bg-url: url(./assets/grande_escuro.jpg);
  }
  .light{
    --bg-url: url(./assets/grande_claro.jpg);
  }
}

/* animações */

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
